// type

$paragraph: 14px;
$line_height: 18px;

$title: 48px;
$title_line: 56px;

$subheading: 28px;
$sub_line: 36px;

$small_heading: 20px;
$small_heading_line: 26px;
// color

$white: #fff;
$black: #000;
$yellow: #feeb12;

//buttons 

$button_size: 12px;
$button_line: 18px;
