.full_width_grid {
	position: relative;
	width: 100%;
	.grid_item {
		width: 50%;
		float: left;
		overflow: hidden;
		position: relative;
		height: 300px;
		background-color: $black;
		&:hover {
			img.bg {
				transform: scale(1.05);
				opacity: 0.6;
			}
		}
		img.bg {
			opacity: 0.8;
			transition: 0.4s ease;
		}
		.inner {
			position: absolute;
			transform: translate(-50%,-50%);
			left: 50%;
			top: 50%;
			color: $white;
		}
	}
}