header {
	.hero {
		position: relative;
		height: 100vh;
		width: 100%;
		overflow: hidden;
		.inner {
			position: absolute;
			transform: translate(-50%,-50%);
			top: 50%;
			left: 50%;
			width: 70%;
			text-align: center;
			color: $white;
			span {
				color: $yellow;
			}
		}
	}
}